body{

    background-color: rgb(20,20,40);

}

.navLink {
    height: 10%;
}

.navLogo {
    width: 4vw;
    float: left;
    position: relative;
    top: -0.5vw;
}

.linkBar {
    width: 50%;
    float: right;
}

.navLink {
    display: inline;
    float: right;
    font-family: verdana;
    font-weight: 900;
    font-size: clamp(16px , (1vw + 10px), 24px);
    color: rgb(231, 178, 63);
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: none;
}