body{
    background-size: 100vw;
    display: block;
}

.navBar {
    width: 100vw;
    height: clamp(80px, 5vw, 100000px);
    position: fixed;
    top: 0;
    left: 0;
    background-position: center top;
    background-size: 100vw 5vw;
}

.navLogo {
    width: clamp(100px, 6.25%, 100000px);
    float: left;
    position: relative;
    top: 2%;
}

.linkBar {
    position: relative;
    top: 26%;
    width: 75%;
    float: right;
}

.navLink {
    display: inline;
    float: right;
    font-family: verdana;
    font-weight: 900;
    font-size: calc(clamp(60px, 3vw, 100px) - 30px );
    color: rgb(231, 178, 63);
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
}

.content, .aboutUsContent {
    position: relative;
    top: clamp(80px, 5vw, 100000px);
    font-family: verdana;
    font-weight: 900;
    font-size: clamp(12px, 1vw, 20px);
    color: rgb(255, 255, 255);
}

.aboutUsContent {   
    width: 100%;
    display: table;
}

.aboutUsBox  
{
    display: table-cell;
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: clamp(10px, 1.5%, 1000000px);;
    padding-top: clamp(10px, 0.5%, 1000000px);;
    padding-left: clamp(10px, 3%, 1000000px);;
    padding-right: clamp(10px, 4%, 1000000px);
    border-radius: 0.5vw;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    margin: 1vw;
}
@media screen and (max-width:800px){
    .aboutUsBox  
    {
        display: table-row;
        background: rgba(0, 0, 0, 0.3);
        padding-bottom: clamp(10px, 1.5%, 1000000px);;
        padding-top: clamp(10px, 0.5%, 1000000px);;
        padding-left: clamp(10px, 3%, 1000000px);;
        padding-right: clamp(10px, 4%, 1000000px);
        border-radius: 0.5vw;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.3);
        margin: 1vw;
}
}