body{
    background-size: 100vw;
}

.navBar {
    width: 100vw;
    height: clamp(80px, 5vw, 100000px);
    position: fixed;
    top: 0;
    left: 0;
    background-position: center top;
    background-size: 100vw 5vw;
}

.navLogo {
    width: clamp(100px, 6.25%, 100000px);
    float: left;
    position: relative;
    top: 2%;
}

.linkBar {
    position: relative;
    top: 26%;
    width: 75%;
    float: right;
}

.navLink {
    display: inline;
    float: right;
    font-family: verdana;
    font-weight: 900;
    font-size: calc(clamp(60px, 3vw, 100px) - 30px );
    color: rgb(231, 178, 63);
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: none;
}

.content, .aboutUsContent {
    position: relative;
    top: clamp(80px, 5vw, 100000px);
    font-family: verdana;
    font-weight: 900;
    font-size: clamp(12px, 1vw, 20px);
    color: rgb(231, 178, 63);
}

.aboutUsContent {
    width: 60vw;
}